@inject INopHtmlHelper NopHtml

@{
    Layout = "_CustomDesignPage";
    
    NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/Payments.PayPalStandard/Content/appscripts/appscripts.js", excludeFromBundle: true);
    NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/Payments.PayPalStandard/Content/lib/threejs/OrbitControls.js", excludeFromBundle: true);
    NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/Payments.PayPalStandard/Content/lib/threejs/OBJLoader.js", excludeFromBundle: true);
    NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/Payments.PayPalStandard/Content/lib/threejs/three.min.js", excludeFromBundle: true);




}


@*<link rel="stylesheet" href="~/Plugins/Payments.PayPalStandard/Content/css/scrollbar.css" />
<link rel="stylesheet" href="~/Plugins/Payments.PayPalStandard/Content/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/Plugins/Payments.PayPalStandard/Content/css/site.css" asp-append-version="true" />

@NopHtml.GenerateCssFiles();

<script src="~/Plugins/Payments.PayPalStandard/Content/appscripts/obfuscated.js"></script>
<script src="~/Plugins/Payments.PayPalStandard/Content/appscripts/refinecode.js"></script>
<script src="~/Plugins/Payments.PayPalStandard/Content/appscripts/tabselector.js"></script>

<script src="~/Plugins/Payments.PayPalStandard/Content/lib/threejs/three.min.js"></script>
<script src="~/Plugins/Payments.PayPalStandard/Content/lib/threejs/OBJLoader.js"></script>
<script src="~/Plugins/Payments.PayPalStandard/Content/lib/threejs/OrbitControls.js"></script>

<script src="~/Plugins/Payments.PayPalStandard/Content/lib/jquery/dist/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/Plugins/Payments.PayPalStandard/Content/appscripts/appscripts.js"></script>
<script src="~/Plugins/Payments.PayPalStandard/Content/appscripts/refinecode.js"></script>*@


<div class="scrollable-container">
    <!-- Content to be scrolled -->
</div>

<div class="row">
    <div class="col-md-6">
        <ul class="scrollable-container" role="tab" style="overflow-x:scroll;display:flex; overflow-y:hidden; list-style-type:none">
            <li class=""><a class="btn btn-sm fortabe" href="#tab_fabric" data-toggle="tab" aria-expanded="true"><img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/fabric.jpg" width="50" height="50" /><br />Fabric</a></li>
            <li class=""><a class="btn btn-sm fortabe" href="#tab_collar" data-toggle="tab"><img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/collar.png" width="50" height="50" /><br />Collar</a></li>
            <li class=""><a class="btn btn-sm fortabe" href="#tab_placket" data-toggle="tab"><img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/placket.jpg" width="50" height="50" /><br />Placket</a></li>
            <li class=""><a class="btn btn-sm fortabe" href="#tab_cuff" data-toggle="tab"><img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/cuff.jpg" width="50" height="50" /><br />Cuff</a></li>
            <li class=""><a class="btn btn-sm fortabe" href="#tab_pocket" data-toggle="tab"><img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/pocket.jpg" width="50" height="50" /><br />Top Pocket</a></li>
            <li class=""><a class="btn btn-sm fortabe" href="#tab_side_pocket" data-toggle="tab"><img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/side-pocket.jpg" width="50" height="50" /><br />Side pocket</a></li>
            <li class=""><a class="btn btn-sm fortabe" href="#tab_yoke" data-toggle="tab"><img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/yoke.jpg" width="50" height="50" /><br />Yoke</a></li>
            <li class=""><a class="btn btn-sm fortabe" href="#tab_contrast" data-toggle="tab"><img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/contrast.jpg" width="50" height="50" /><br />Contrast</a></li>
            <li class=""><a class="btn btn-sm fortabe" href="#tab_buttons" data-toggle="tab"><img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/buttons.jpg" width="50" height="50" /><br />Buttons</a></li>
            <li class=""><a class="btn btn-sm fortabe" href="#tab_buttons_thread" data-toggle="tab"><img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/thread.jpg" width="50" height="50" /><br />Buttons Thread</a></li>
            <li class=""><a class="btn btn-sm fortabe" href="#tab_monogram" data-toggle="tab"><img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/monogram.jpg" width="50" height="50" /><br />Monogram</a></li>
            <li class=""><a class="btn btn-sm fortabe" href="#tab_message" data-toggle="tab"><img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/label.png" width="50" height="50" /><br />Message</a></li>
            <li class=""><a class="btn btn-sm fortabe" href="#tab_extras" data-toggle="tab"><img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/extras.jpg" width="50" height="50" /><br />Extras</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_fabric">
                <p>tab_fabric</p>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <a class="btn btn-xs fabrics" data-id="1">
                                <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/fabrics/0n6cm8f22tpt967b.jpg" width="100" height="100" />
                                <br /><span>White 001</span>
                            </a>
                            <a class="btn btn-xs fabrics" data-id="2">
                                <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/fabrics/0kv98rspyfmy2rvs.jpg" width="100" height="100" />
                            </a>
                            <a class="btn btn-xs fabrics" data-id="3">
                                <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/fabrics/3f7tdtfp2xm0rny1.jpg" width="100" height="100" />
                            </a>
                            <a class="btn btn-xs fabrics" data-id="4">
                                <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/fabrics/3xb849xwn4y4pq9b.jpg" width="100" height="100" />
                            </a>
                            <a class="btn btn-xs fabrics" data-id="5">
                                <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/fabrics/4w8fswzmbqj0qrrt.jpg" width="100" height="100" />
                            </a>
                            <a class="btn btn-xs fabrics" data-id="6">
                                <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/fabrics/5r2f4ynjz5wpfsh9.jpg" width="100" height="100" />
                            </a>
                            <a class="btn btn-xs fabrics" data-id="7">
                                <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/fabrics/6xtj1yrt5vz7xnfg.jpg" width="100" height="100" />
                            </a>
                            <a class="btn btn-xs fabrics" data-id="8">
                                <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/fabrics/bqp7sbgvn8sdhxmg.jpg" width="100" height="100" />
                            </a>
                            <a class="btn btn-xs fabrics" data-id="9">
                                <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/fabrics/bwcjyny4y33mhp7p.jpg" width="100" height="100" />
                            </a>
                            <a class="btn btn-xs fabrics" data-id="10">
                                <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/fabrics/fybv2cbvxnx37jrw.jpg" width="100" height="100" />
                            </a>
                            <a class="btn btn-xs fabrics" data-id="11">
                                <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/fabrics/kfjgk3mkgf19yrnr.jpg" width="100" height="100" />
                            </a>
                            <a class="btn btn-xs fabrics" data-id="4">
                                <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/fabrics/n07zr5pr5brpnb41.jpg" width="100" height="100" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_collar">
                <div class="form-group">
                    <div class="col-md-12">
                        <p>
                            tab_collar
                        </p>
                        <a class="btn btn-xs colars" data-id="colar_01_collar_01">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/collar/Band.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs colars" data-id="NARROW_SPEED_COLLAR.001_Circle.012">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/collar/Bottom Down.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs colars" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/collar/Business Round.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs colars" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/collar/Business.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs colars" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/collar/Club.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs colars" data-id="colar_02">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/collar/Curved.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs colars" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/collar/Hoodie.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs colars" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/collar/Long Point.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs colars" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/collar/Modern Business.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs colars" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/collar/Narrow Spread.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs colars" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/collar/Polo.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs colars" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/collar/Square.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs colars" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/collar/Standard.png" width="100" height="100" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_placket">
                <div class="form-group">
                    <div class="col-md-12">
                        <p>
                            tab_placket
                        </p>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/placket/Double Hole.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/placket/Hidden Soft.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/placket/Hidden Zip Soft.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/placket/Narrow Hidden.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/placket/Polo.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/placket/Reverse Hidden.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/placket/Simple.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/placket/Standard Hidden.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/placket/Standard.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/placket/Zip.png" width="100" height="100" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_cuff">
                <div class="form-group">
                    <div class="col-md-12">
                        <p>
                            tab_cuff
                        </p>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/cuff/Angle French.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/cuff/Double Buttons.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/cuff/Link.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/cuff/Modern.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/cuff/Napolean.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/cuff/Simple Kuwaiti.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/cuff/Simple.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/cuff/Single Button.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/cuff/Snap.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/cuff/Strap.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/cuff/Snap.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/cuff/Triple Buttons.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/cuff/Urban.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/cuff/Zip.png" width="100" height="100" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_pocket">
                <div class="form-group">
                    <div class="col-md-12">
                        <p>
                            tab_pocket
                        </p>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/toppocket/3 Lines Diagonal.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/toppocket/3 Lines.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/toppocket/Angle.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/toppocket/Inclined.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/toppocket/Point.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/toppocket/Round.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/toppocket/Square.png" width="100" height="100" />
                        </a>
                        <a class="btn btn-xs" data-id="1">
                            <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/toppocket/Wallet.png" width="100" height="100" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_side_pocket">
                <p>
                    tab_side_pocket
                </p>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/sidepocket/None.png" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/sidepocket/Double.png" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/sidepocket/Single.png" width="100" height="100" />
                </a>
            </div>
            <div class="tab-pane" id="tab_yoke">
                <p>
                    tab_yoke
                </p>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/yoke/Yoke_Arrow_Back.png" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/yoke/Yoke_Split_Back.png" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/yoke/Yoke_Standard_Back.png" width="100" height="100" />
                </a>
            </div>
            <div class="tab-pane" id="tab_contrast">
                <p>
                    tab_contrast
                </p>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/contrast/Collar Border.png" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/contrast/Collar Full.png" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/contrast/Collar Inner.png" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/contrast/Cuff Border.png" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/contrast/Cuff Full.png" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/contrast/Cuff Inner.png" width="100" height="100" />
                </a>

                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/contrast/Pocket Flap Border.png" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/contrast/Pocket Flap Full.png" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/contrast/Pocket Full.png" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/contrast/Pocket Top Border.png" width="100" height="100" />
                </a>

                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/contrast/Pocket Top Full.png" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/contrast/Yoke Border_Back.png" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/contrast/Yoke Full_Back.png" width="100" height="100" />
                </a>
            </div>
            <div class="tab-pane" id="tab_buttons">
                <p>
                    tab_buttons
                </p>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/buttons/ANTIQUE GOLD.jpg" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/buttons/BLACK.jpg" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/buttons/CHROME BLUE.jpg" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/buttons/DEEP GREEN.jpg" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/buttons/EVERGREEN.jpg" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/buttons/GRAY.jpg" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/buttons/LAVENDER.jpg" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/buttons/MAROON.jpg" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/buttons/MINT.jpg" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/buttons/ORANGE.jpg" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/buttons/PINK.jpg" width="100" height="100" />
                </a>
            </div>
            <div class="tab-pane" id="tab_buttons_thread">
                <p>
                    tab_buttons_thread
                </p>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/buttonsthread/ANTIQUE GOLD.jpg" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/buttonsthread/RUSTY BROWN.jpg" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/buttonsthread/CHROME BLUE.jpg" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/buttonsthread/SKY BLUE.jpg" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/buttonsthread/EVERGREEN.jpg" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/buttonsthread/GRAY.jpg" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/buttonsthread/LAVENDER.jpg" width="100" height="100" />
                </a>
            </div>
            <div class="tab-pane" id="tab_monogram">
                <p>
                    tab_monogram
                </p>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/monogram/Cuff.png" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/monogram/Pocket.png" width="100" height="100" />
                </a>
            </div>
            <div class="tab-pane" id="tab_message">
                <p>
                    tab_message
                </p>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/message/None.png" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/message/Below Label.png" width="100" height="100" />
                </a>
                <a class="btn btn-xs" data-id="1">
                    <img src="~/Plugins/Payments.PayPalStandard/Content/alqeemz/message/Below Placket.png" width="100" height="100" />
                </a>
            </div>
            <div class="tab-pane" id="tab_extras">
                <p>
                    tab_extras
                </p>


            </div>
        </div>
    </div>
    <div class="col-md-6">
        <button id="texture-1" class="texture-1">Change patren_1</button>
        <button id="texture-2">Change patren_2</button>
        <button id="texture-3" class="change_patren">Change patren_3</button>
        <span class="colorPicker"><input id="changecolor" type="color" value="#f5f3f2" />Color</span>
        <button id="Kurta">khurta</button>
        <button id="shalwar">shalwar</button>
        <button id="colar_01_collar_01">colar_01</button>
        <button id="colar_02">colar_02</button>
        <div id="modal"></div>
    </div>

</div>
<script>
    $(document).ready(function () {
        $("#myTab a").click(function () {
            // e.preventDefault();
            $(this).tab("show");
        });
    });
</script>








